
<%	provide(:title,	"Home")	%>
<!--<!DOCTYPE	html>-->
<!--<html>-->
<!--		<head>-->
<!--				<title><%=	yield(:title)	%>	|	Demo App</title>-->
<!--		</head>-->
<!--		<body>-->
<!--				<h1>Framgia Demo Blog</h1>-->
<!--				<p>-->
<!--						write, what you belief-->
						
<!--				</p>-->
<!--					<p>-->
						
<!--						Find the Code of this Demo App <a	href="https://github.com/noor-framgia/DemoApp">here</a>-->
<!--				</p>-->
<!--		</body>-->
<!--</html>-->

<div	class="center	jumbotron">
		<h1>Framgia Demo Blog</h1>
		<h2>
			write, what you belief
		</h2>
		<%=	link_to	"Sign	up",	signup_path ,	class:	"btn	btn-lg	btn-primary"	%>
</div>
 